#simple-chat {
    width: 100%;
    height: 100%;
}

#simple-chat .panel-heading {
    cursor: pointer;
}

#simple-chat .panel-body {
    overflow-y: auto;
}

#simple-chat-text-box {
    width: 410px;
}

#simple-chat-messages .simple-chat-message-group {
    margin: 5px;
    padding-bottom: 0;
}

#simple-chat-messages .user-id {
    display: inline-block;
    font-weight: bold;
}

#simple-chat-messages .date {
    display: inline-block;
    font-weight: 200;
    margin-left: 20px;
}