<template name="paraviewSharedSessionControls">
    <div id="paraview-shared-session-controls">
        <!--Other Users = {{canShare}}<br />-->
        <!--<a id="enable-shared-session" href="#">Share view with:</a>-->

        {{#if canShare}}
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {{#each otherUsers}}
                            <li><a data-share-session-link data-user-id={{_id}} href="#">{{username}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/if}}

        {{#if isProposing}}
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group open" role="group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Share <span class="caret"></span></button>
                    <div class="dropdown-menu dropdown-menu-right panel panel-default">
                        <div class="panel-body pull-center">
                            <p>Proposed sharing view with {{partnerUsername}}</p>
                            <button type="submit" data-partner-id="{{partnerId}}" class="btn btn-default" data-reset-sessions>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if isJoined}}
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group open" role="group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Share <span class="caret"></span></button>
                    <div class="dropdown-menu dropdown-menu-right panel panel-default">
                        <div class="panel-body pull-center">
                            <p>Joined session of {{partnerUsername}}</p>
                            <button type="submit" data-partner-id="{{partnerId}}" class="btn btn-default" data-reset-sessions>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if isShared}}
            <div class="btn-group" role="group" aria-label="...">
                <div class="btn-group open" role="group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Share <span class="caret"></span></button>
                    <div class="dropdown-menu dropdown-menu-right panel panel-default">
                        <div class="panel-body pull-center">
                            <p>Sharing with {{partnerUsername}}</p>
                            <button type="submit" data-partner-id="{{partnerId}}" class="btn btn-default" data-reset-sessions>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>

</template>